@font-face {
    font-family: inter;
    src: url(//Fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: pop;
    src: url(//Fonts/Poppins-Black.ttf);
}
@font-face {
    font-family: cabin;
    src: url(//Fonts/Cabin-Italic-VariableFont_wdth\,wght.ttf\);
}