body{ 
    background-color: #ffffff;
     width: 1920px;
     height: 2301px;
}
.header{
    display: flex;
    width: 1220px;
    height: 65px;
    margin-top: 53px;
    margin-left: 330px;
    display: flex; 
    justify-content:space-between; 
    align-items: center;
}
.header img{
    width: 200px;
    height: 28px;
   
}
.header_text{
    display: flex;
    justify-content: center;
}
.header_nav{
    display: flex;
    justify-content: center;
    gap:20px;
    font-family: inter;
    font-size: 18px;
    font-weight:400 ;
    line-height: 21.78px;
    color: #37393F;
}
.get{
    background-color: #6B77E5; 
    width: 184px;
    height: 65px; 
    display: flex;
    text-align: center;
    justify-content: center;
}
.get p{
    width: 117px;
    height: 22px;
    color: #FFFFFF; 
    font-family: cabin;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.87px;
    display: flex;

}
.work{
    width: 1220px;
    height: 510px;
    display: flex;
    margin-top: 254px;
    margin-left: 350px;
    gap: 41px;
    flex-direction: column;
}
.work_header{
    width: 1220px;
    height: 127px;
    display: flex;
    justify-content: center;
}
.work_header_text{
    display: flex;
    flex-direction: column;
}
.work_header_text span{
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.78px;
    font-family: inter;
    color: #37393F;
    display: flex;
    justify-content: center;
}
.work_header_text h3{
    margin: 0;
    font-family: pop;
    font-weight:700 ;
    font-size:40px;
    line-height: 48.4px;
    color: #37393F ;
    margin-top: 10px;
}
.work_info{
    width: 1220px;
    height: 383px;
    display: flex;
    gap: 31px;
}
.work_info_text{
    width: 386px;
    height:383px ;
    background-color:#F4F4F4 ; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 37px;
 
}
.text1{
    width: 300px;
    height: 185px;
    display: flex;
    flex-direction: column;
    margin-top: 37px;
    align-content:center ;
}
.text1 h3{
    width:245px ;
    height:32px ;
    font-size:25px ;
    font-family: inter;
    font-weight:600 ;
    line-height: 31.75px;
    color: #37393F ;
    margin: 0;
    align-self:end;

}
.text1_dec{
    width:300px ;
    height:78px ;
    font-size:18px ;
    font-family: inter;
    font-weight:400 ;
    line-height: 26.31px;
    color: #7D7D7D ;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.test{
    color: #6B77E5;
    text-align: center;
    margin: 0;
}
.logo1{
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #40DDB6;
    border-radius: 100%;
    margin-top: -25px;
   
}
.text_test{
    margin: 23px;
}
.logo1 img{
   width: 43px;
   height: 43px;
}
.logo2{
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6B77E5;
    border-radius: 100%;
    margin-top: -25px;
   
}
.main_foto{
    width: 1920px;
    height: 557px ;
    margin-top: 50px ;
    background-color: #40DDB6BF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main_foto_dec{
    position: absolute;
    z-index: -1;
}
.main_foto_text{
    width: 511px;
    height: 270px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.main_foto_text span{
    width: 102px;
    height: 22px;
    font-family: inter;
    font-weight: 500;
    font-size: 18px;
    line-height:21.78px; 
    color: #37393F; 
}
.main_foto_text h3{
    width: 349px;
    height: 48px;
    font-family: pop;
    font-weight: 700;
    font-size:40px ;
    line-height:48.4px ;
    color: #37393F;
    text-align: center;
    margin: 0;
}
.main_foto_text p{
    width: 512px;
    height: 52px;
    font-family: inter;
    font-weight: 400;
    font-size:18px ;
    line-height:26.31px ;
    color: #37393F;
    text-align: center;
}
.vector{
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background-color: #6B77E5;
    display: flex;
    justify-content: center;
    align-items: center
}
.foto_vector{
    width: 20.34px;
    height: 30.28px;
    align-self: center;
    color: #FFFFFF;
}
.team{
    width: 1220px;
    height: 659px;
    display: flex;
    flex-direction: column; 
    margin-left: 348px;
    gap: 41px;
    margin-top: 100px;
} 
.team_text{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.team_text span{
    width:84px ;
    height: 22px;
    font-family:Inter ;
    font-weight:500;
    font-size:18px ;
    line-height: 21.78px;
    color: #37393F; 
    text-align: center;
}
.team_text h3{
    width:348px ;
    height: 48px;
    font-family: pop ;
    font-weight:700;
    font-size:40px ;
    line-height:48.4px;
    color: #37393F; 
    text-align: center;
    margin: 0;

}
.team_members{
    display: flex;
    gap: 20px;
}
.team_foto{
    width:386px ;
    height:532px ;
}
.team_foto_dec{
    position: absolute;
    z-index: -1;
}
.team_foto_text{
    width:341px ;
    height: 114px ;
    background-color: #FFFFFF;
    position: relative;
    top: 370px;
    left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.team_foto_text h3{
    width:203px ;
    height: 38px;
    font-family: pop ;
    font-weight:600;
    font-size:25px ;
    line-height:37.5px;
    color: #37393F; 
    text-align: center;
    margin: 0;
}
.team_foto_text p{
    width:157px ;
    height: 24px;
    font-family: Inter ;
    font-weight:400;
    font-size:18px ;
    line-height:24.33px;
    color:#7D7D7D; 
    text-align: center;
    margin: 0;
}